[submodule ".config/nvim/pack/default/start/gruvbox"]
	path = .config/nvim/pack/default/start/gruvbox
	url = https://github.com/morhetz/gruvbox.git
[submodule ".config/nvim/pack/default/start/fzf.vim"]
	path = .config/nvim/pack/default/start/fzf.vim
	url = https://github.com/junegunn/fzf.vim
[submodule ".config/nvim/pack/default/start/fzf"]
	path = .config/nvim/pack/default/start/fzf
	url = https://github.com/junegunn/fzf
[submodule ".config/nvim/pack/default/start/vim-fugitive"]
	path = .config/nvim/pack/default/start/vim-fugitive
	url = https://github.com/tpope/vim-fugitive
[submodule ".config/nvim/pack/default/start/vim-commentary"]
	path = .config/nvim/pack/default/start/vim-commentary
	url = https://github.com/tpope/vim-commentary
[submodule ".config/nvim/pack/default/start/vimwiki"]
	path = .config/nvim/pack/default/start/vimwiki
	url = https://github.com/vimwiki/vimwiki
[submodule ".config/nvim/pack/default/start/vim-table-mode"]
	path = .config/nvim/pack/default/start/vim-table-mode
	url = https://github.com/tim-welch/vim-table-mode
[submodule "cheatsheet/.config/nvim/pack/default/start/vim-surround"]
	path = cheatsheet/.config/nvim/pack/default/start/vim-surround
	url = https://github.com/tpope/vim-surround
[submodule "/home/twelch/.config/nvim/pack/default/start/vim-surround"]
	path = .config/nvim/pack/default/start/vim-surround
	url = https://github.com/tpope/vim-surround
[submodule "/home/twelch/.config/nvim/pack/default/start/vim-repeat"]
	path = .config/nvim/pack/default/start/vim-repeat
	url = https://github.com/tpope/vim-repeat
[submodule ".config/nvim/pack/default/start/coc.nvim"]
	path = .config/nvim/pack/default/start/coc.nvim
	url = https://github.com/neoclide/coc.nvim
